<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthenticLoginFilter</filter-name>
        <filter-class>Filters.AuthenticLoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAccessFilter</filter-name>
        <filter-class>Filters.AdminAccessFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserAccessFilter</filter-name>
        <filter-class>Filters.UserAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAccessFilter</filter-name>
        <url-pattern>/MyFilmController</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>Controllers.GenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesController</servlet-name>
        <servlet-class>Controllers.SeriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleController</servlet-name>
        <servlet-class>Controllers.SingleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryController</servlet-name>
        <servlet-class>Controllers.CountryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmDetailController</servlet-name>
        <servlet-class>Controllers.FilmDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EpisodeController</servlet-name>
        <servlet-class>Controllers.EpisodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>Controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFilmController</servlet-name>
        <servlet-class>Controllers.MyFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserAdmin</servlet-name>
        <servlet-class>AdminControllers.ManageUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsActiveFilmAdmin</servlet-name>
        <servlet-class>AdminControllers.IsActiveFilmAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFilmAdmin</servlet-name>
        <servlet-class>AdminControllers.AddNewFilmAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFilmAdmin</servlet-name>
        <servlet-class>AdminControllers.UpdateFilmAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFilmAdmin</servlet-name>
        <servlet-class>AdminControllers.ManageFilmAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEpisodeAdmin</servlet-name>
        <servlet-class>AdminControllers.ManageEpisodeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsActiveEpisodeAdmin</servlet-name>
        <servlet-class>AdminControllers.IsActiveEpisodeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEpisodeAdmin</servlet-name>
        <servlet-class>AdminControllers.AddEpisodeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEpisodeAdmin</servlet-name>
        <servlet-class>AdminControllers.UpdateEpisodeAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/GenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesController</servlet-name>
        <url-pattern>/SeriesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleController</servlet-name>
        <url-pattern>/SingleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryController</servlet-name>
        <url-pattern>/CountryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmDetailController</servlet-name>
        <url-pattern>/FilmDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EpisodeController</servlet-name>
        <url-pattern>/EpisodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyFilmController</servlet-name>
        <url-pattern>/MyFilmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserAdmin</servlet-name>
        <url-pattern>/ManageUserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsActiveFilmAdmin</servlet-name>
        <url-pattern>/IsActiveFilmAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFilmAdmin</servlet-name>
        <url-pattern>/AddNewFilmAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFilmAdmin</servlet-name>
        <url-pattern>/UpdateFilmAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFilmAdmin</servlet-name>
        <url-pattern>/ManageFilmAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEpisodeAdmin</servlet-name>
        <url-pattern>/ManageEpisodeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsActiveEpisodeAdmin</servlet-name>
        <url-pattern>/IsActiveEpisodeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEpisodeAdmin</servlet-name>
        <url-pattern>/AddEpisodeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEpisodeAdmin</servlet-name>
        <url-pattern>/UpdateEpisodeAdmin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
</web-app>
